<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://scontent.fybz1-1.fna.fbcdn.net/v/t1.0-9/34586080_10156598741924066_2363887692627836928_o.jpg?_nc_cat=0&oh=704d4382cbb2fdd35d7e4a572b3388ba&oe=5BA54B2B">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>